@import '~mand-mobile/components/_style/mixin/util'
@import '~mand-mobile/components/_style/mixin/theme.components'
@import '~mand-mobile/components/_style/mixin/theme.basic'

color-primary = #EC2D38
color-mycenter = #2598F4

.gray
  color: #a09a9a;
.tips
  position: fixed;
  right: 0;
  bottom: 2rem;
  width: 2.2rem;
  text-align: right;
  padding: 0 0.2rem;
  height: .9rem;
  line-height: .9rem;
  background-color:color-primary;
  color: #fff;
  font-weight: bold;
  font-size: 0.4rem;
  border-bottom-left-radius: 1rem;
  -moz-border-radius-bottomleft: 1rem;
  -webkit-border-bottom-left-radius: 6rem;
  border-top-left-radius: 1rem;
  -moz-border-radius-topleft: 1rem;
  -webkit-border-top-left-radius: 6rem;
  z-index: 99;
   


