.listbox{
    .evelist{
        li{
           border-bottom: 1px solid #e3e4e5;
           .libox{
                height: 2rem;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                padding: 0 0.3rem;
                justify-content: space-between;
                position relative
                .leftbox{
                    display: flex;
                }
            .headimg{
                height: 1.5rem;
                width: 1.5rem;
                border-radius: 50%;
            }
            .pbox{
                margin-left: .4rem;
                line-height: .8rem;
                p:nth-child(1){
                    font-size .4rem
                }
                p:nth-child(2){
                    color: #969696;
                }
            }
        }
        }
        
    }
    .nodataimg{
        width: 80%;
        margin-left: 10%;
        margin-top: 20%;
    }
}
.scroll {
    overflow-y: auto;
}
.tozx{
    width :1.1rem
    height:auto
}
.ywname {
  width : 4rem
  text-align: right
}
.khphone{
    position: absolute;
    left: 50%;
    top: .36rem; 
}