.container {
  width: 100%;
  height: 100%;
  .scroll {
    overflow-y: auto;
    }
}

.title2 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  text-align: center;

  .item {
    border: 5px solid #d0d9de;
    width: 28%;
    margin-left: 40px;
    margin-bottom: 40px;

    // padding auto 30px
    .total {
      margin-top: 50px;
      margin-bottom: 70px;
    }

    .number {
      margin-bottom: 10px;

      span {
        font-size: 50px;
        font-weight: 600;
      }
    }

    .red {
      color: red;
      // margin 50px auto
      margin-bottom: 30px;

      span {
        font-size: 35px;
      }
    }
  }
}

.chart {
  border-top: 50px solid #EEEEEE;
  padding: 40px 40px;

  .chartTitle {
    text-align: center;
    position :relative

    span {
      font-size: 45px;
      font-weight: 600;
    }
  }

  .chartBtn {
    margin: auto 170px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .btn {
      border: 3px solid #DEDEDE;
      border-radius: 10px;
      padding: 5px 5px;
      text-align: center;
      width: 170px;
      font-size: 35px;
      color: #A5A5A5;
      // margin-left 50px
    }

    .blueBorder {
      // border 3px solid #DEDEDE
      border-radius: 10px;
      padding: 5px 5px;
      text-align: center;
      width: 170px;
      font-size: 35px;
      // color #A5A5A5
      color: color-primary !important;
      border: 3px solid color-primary !important;
    }
  }
}
.right{
  display: inline-block;
  width: .5rem;
  height: .5rem;
  position: absolute;
  top: 0;
  right: 0rem;
  background-image: url('~@/assets/image/help.png')
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.md-example-popup{
  background-color #ffffff;
  padding: .5rem;
  p{
    font-size .4rem;
    line-height:1rem
  }
}