.timeTag {
  .time {
    .timeBg {
      margin: 50px auto;
      background-color: #fff;
      height: 100px;
      width: 60%;
      border-radius: 50px;
      box-shadow: 4px 6px 5px #dedede;
      position: relative;

      img {
        width: 50px;
        height: 50px;
        pading-right: 50px;
        position: absolute;
        top: 30px;
        left: 150px;
      }

      span {
        font-size: 40px;
        color: color-primary;
        position: absolute;
        top: 30px;
        left: 220px;
      }
    }
  }
}

.detail {
  margin: auto 80px;
  margin-top: 50px;
  margin-bottom: .5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem #dedede;
  border-radius .3rem
  .border {
    padding: .3rem 0;
    border-bottom 1px solid #e5e5e5;
    min-height 220px
    img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        float: left;
        margin: 0 3% 0 4%;
    }

    .seeWhat {
        width: 75%;
        display: inline-block;
        padding: 0 3% 0 2%;
      span {
        font-size: 35px;
        line-height: 60px;

        .color {
          color: color-primary;
        }
      }
    }
  }

  .bottom {
    padding: 0.4rem 0 0.4rem .3rem;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .ltime {
      span {
        font-size 30px
      }
    }

    .mtime {
      span {
        color: red;
        font-size 30px
      }
    }
    .btime {
      margin-right 30px
      span {
        font-size 30px
      }
    }
  }
}