.container {
  .article {
    background-color: white;
    padding: 0.6rem 0.5rem;
    display: flex;
    .policydetail{
      display flex
      .leftimg{
        width 30vw
        margin-right 20px
        img{
          border-radius: 20px
        }
      }
      .rightdetail{
        display flex
        flex-direction: column
        justify-content: center
        width 65vw !important
        padding 10px
        .right_txt{
          height: 1.2rem;
          font-size: 0.45rem;
          color: #3d4145;
          line-height: 0.6rem;
          font-weight: 600;
        }
        .lookandshare{
          line-height: 1rem;
         .red {
          color: #c4101a;
          font-weight: bold;
        }
          }
        width 65%
      }
    }
    .articleimg {
      width: 33%;
      margin-right: 0.3rem;

      .img {
        display: block;
        width: 100%;
        height: 2.5rem;
        border-radius: 8px;
        background-size: cover;
        background-position: center;
      }
    }

    .artical_tit {
      width: 65%;
      padding: 0.2rem 0;

      .history_tit {
        height: 1.2rem;
        font-size: 0.45rem;
        color: #3d4145;
        line-height: 0.6rem;
        font-weight: 600;
      }

      .history_tip {
        line-height: 1rem;

        .red {
          color: #c4101a;
          font-weight: bold;
        }
      }
    }
  }

  .tab {
    line-height: 1.2rem;
    height: 1.2rem;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    display: flex;
    align-items: center;

    li {
      width: 50%;
      color: #3d4145;
      text-align: center;
      font-size: 0.4rem;
    }

    .active {
      background-color: color-primary;
      color: #ffffff;
    }
  }

  .list {
    background: white;
    border-bottom: 1px solid #f0f0f0;

    .khlist {
      padding: 0 0.3rem 0.3rem 0.3rem;
      position: relative;

      .time {
        span {
          line-height: 0.8rem;
          height: 0.8rem;
          font-size: 0.35rem;
        }

        .timekg {
          height: 0.3rem;
          width: 100%;
        }
      }

      .headimg {
        width: 1.8rem;
        height: 1.8rem;
        float: left;
        margin-right: 0.2rem;

        img {
          width: 100%;
          border-radius: 0.2rem;
        }
      }

      .right {
        line-height: 0.6rem;

        .right_name {
          font-size: 0.35rem;
          color: #3d4145;
        }

        .right_szd {
          font-size: 0.35rem;
          color: #3d4145;
        }

        .right_ly {
          font-size: -0.3rem;
          color: #7f7f7f;
        }
      }

      .rightbtn {
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        padding-right: 0.8rem;
        display: flex;
        align-items: center;

        .findTa {
          padding: 0rem 0.2rem;
          text-align: center;
          color: #4194e2;
          background: #ecf3fb;
          border: 1px solid #bcdaf7;
          border-radius: 0.2rem;
          height: 0.7rem;
          line-height: 0.7rem;
        }
        .disfindTa {
          padding: 0rem 0.2rem;
          text-align: center;
          border-radius: 0.2rem;
          height: 0.7rem;
          line-height: 0.7rem;
          background: #cccdce;
          border: 1px solid #cfd0d2;
          color: #fff;
          pointer-events: none;
          }

        .acttimes {
          padding-top: 0.15rem;
        }

        .red {
          color: #c4101a;
          font-weight: bold;
        }
      }
    }
  }
}
.nodata {
  padding-top: 30%;
  text-align: center;

  .kongimg {
    width: 300px;
    height: auto;
  }
}