
.nodata {
  padding-top 30%
  text-align center
  .kongimg {
    width: 300px;
    height auto
  }
}
  
.content {
  height 100%;
  overflow-y: hidden;
  background-color: #fff;
}

.title {
  padding-top: 50px;
  text-align: center;

  ul {
    width: 80%;
    background: #F7F7F7;
    border-radius: 40px;
    overflow: hidden;
    margin: 30px auto;

    li {
      width: 33%;
      display: block;
      float: left;
      font-size: 40px;
      font-weight: 600;
      padding: 2.5% 0;
    }
  }
}

.blue {
  color: white !important;
  background: color-primary;
  border-radius: 40px;
}

.title1 {
  padding-top: 10px;
  text-align: center;
  height: 150px;
  border-bottom: 15px solid #EEEEEE;

  ul {
    width: 75%;
    margin: 30px auto;

    li {
      // width: 25%;
      // width: 33%;
      display: block;
      float: left;
      padding: 2.5% 0;

      span {
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 30px;
      }

      .select {
        border-bottom: 5px solid color-primary;
      }
    }
  }
}