.content{
    height 100%
}
.card{
    height 10%
}
textarea {
  width: 95%;
  border: none;
  text-align: center;
  line-height: .7rem;
  font-size: 0.4rem;
  padding-top: 0.1rem;
  margin-left: 2.5%;
  margin-top: 5%;
  border-top: 1px dashed #cd5c5c;
  border-left: 1px dashed #cd5c5c;
  border-right: 1px dashed #cd5c5c;
}
#contentEditor {
  width: 95%;
  height: 75%;
  margin-left: 2.55%;
  border-bottom: 1px dashed #cd5c5c;
  border-left: 1px dashed #cd5c5c;
  border-right: 1px dashed #cd5c5c;
  background: white;
  overflow-y: auto;
}
.pay {
  width: 90%;
  height: 5%;
  margin-left: 10%;
  margin-top: 10%;
  text-align: center;
}
.pay div {
  width: 40%;
  float: left;
  padding: 0.25rem 0;
}
.pay .back {
  border: 1px solid #d3d7d4;
}
.pay .payment {
  /* border: 1px solid #005BAF; */
  background-color: color-primary;
  color: white;
  margin-left: 10%;
}