.scroll {
  overflow-y auto
}
.searchbox {
    padding: 0.2rem 0.5rem;
    height: 1.5rem;
    .md-icon.icon-font.lg{
      font-size 0.6rem;
      color #B1B1B1
    }
    .closeicon{
      display: inline-block;
      i{
        position: relative;
        top:0.1rem
      }
    }
    .cancel {
      font-size: 0.4rem;
      text-align: center;
      display inline-block;
      width: 16%;
      height: 1.1rem;
      line-height: 1.1rem;
      color color-primary
    }
    .searchstart {
      height: 2rem;
      line-height: 2rem;
      font-size: 0.8rem;
      color: color-primary !important;
    }

}
.tabbar{
  /deep/ .md-tab-bar-inner{
    height 1.5rem;
  }
  /deep/ .md-tab-bar .scroll-view-container{
    height 1.3rem
  }
  /deep/ .md-tab-bar-item{
    font-size .4rem
    min-height: 1.3rem
  }
}
.iconbox{
    float: right;
    height: 1.1rem;
    line-height: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search {
    width: 75%;
    height: 1.1rem;
    line-height: 1.1rem;
    //background: url("../../../../assets/abt/img/fdj.png")
    background-size: .55rem;
    border-radius: 2rem;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: #f0f0f0;
    background-position:.3rem;
    padding: 0 .3rem;
    .searchimg{
      height 1.1rem;
      width:1rem;
      float:left
    }
    input {
      width: 80%;
      height: 1.1rem;
      line-height: 1.1rem;
      font-size: 0.4rem;
      background-color: #f0f0f0;
    }
  }
  // 标签选择
  .md-example-popup{
    background-color white
    // height 100%;
    overflow-y auto
  }
  // .content /deep/ .md-popup-box{
  //   // height 80%!important
  //   overflow-y hidden
  // }
  .list{
    padding:1rem .5rem
    margin-bottom: .8rem;
  }
  .bqbox{
    padding-bottom .5rem
    p{
      font-size .5rem
      font-weight bold
      margin-bottom .2rem
    }
    .bqdiv{
      span{
        display: inline-block;
        height: .8rem;
        width: 25%;
        line-height: 0.8rem;
        text-align: center;
        margin: 0.1rem 0.25rem;
        font-size: 0.35rem;
        border 1px solid color-primary
        color color-primary
      }
      .active{
        background-color color-primary
        color white
      }
    }
  }
  .content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    width 100%;
    height 100vh
    .tabcontent{
      flex: 1;
      width: 100%;
      box-sizing: border-box;
      -webkit-overflow-scrolling: touch;
      background: #fff;
    }
  }
  .nodataimg{
      width: 80%;
      margin-left: 10%;
      margin-top: 20%;
  }
  .nodata_style{
      width: 80%;
      text-align: center
      margin-left: 10%;
      margin-top: 15%;
      .nodata_img{
        width:50%;
      }
      .nodata_text{
        color: #989898
        font-size: 0.36rem
        text-align: center
        letter-spacing: 0.03rem
      }
      .nodata_btn{
        width: 60%
        margin: auto
        height: 0.9rem
        color: #fff
        background-color color-primary
        border-radius: 0.2rem
        line-height: 0.9rem
        font-size: 0.38rem
        text-align: center
        letter-spacing: 0.1rem
        margin-top: 1.7rem
      }
  }
