.mpdiv{
    margin .6rem auto .3rem
    .mpbox{
        width 86%
        margin 2rem auto 1rem
        background: #eff0f2;
        position: relative;
        .head_pic{
            width: 2rem;
            height: 2rem !important;
            border-radius: 50%;
            position: absolute;
            right: 0.4256rem;
            left: 0.3rem;
            top: -0.85rem;
        }
        .card_company{
            font-weight:bold;
            padding-top: .3rem;
            p{
                font-size: 0.6rem;
                padding-left: 2.6rem;
                color:#454545;
            }
        }
        .callme{
            position:absolute;
            right: 0;
            width: 1.8rem;
            height 1.8rem
        }
        .card_info {
            padding-top: 0.7rem;
            padding-bottom: 0.3rem;
            color: #444;
            display: inline-block;
            /* display: flex; */
            border-bottom: 1px dashed #ccc;
            width: 95%;
            margin: 0 auto;
            position: relative;
            .card_item>div{
                height: 0.8rem;
                line-height: 0.8rem;
                font-size: .4rem;
            }
            .card_item:nth-last-child(1){
                margin-bottom: 10px;
            }
            .left_info{
                padding-left: .6rem;
                width:90%;
                font-size: .7rem;
            }
            .connect{
                overflow: hidden;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                z-index: 5;
                display: inline-block;
                width: 30%;
                position: absolute;
                right: 5px;
                top: .7rem;
                .icon{
                    float: left;
                    display: inline-block;
                    width:40%;
                    margin: 0 5%;
                }
                img{
                    width:100%;
                }
                img:nth-child(1){
                    margin-left: 10%;
                }
            }
        }
        .codeDes{
            text-indent: 2em;
            margin-top: 0.1rem;
            padding-bottom: 0.08rem;
            padding: 0.4rem 0;
            color: #666;
            border-bottom: 1px dashed #ccc;
            width: 90%;
            margin: 0 auto;
            font-size: .4rem;
        }
        .codePic{
            text-align: center;
            img{
               width: 5rem;
               margin: 0.4rem 0;
            }
            .codeTitle {
                width: 100%;
                padding-bottom: 0.5rem;
                color: #999;
                font-size: .4rem;
            }
        }
    }    
}